:root {
    --cyan: hsl(179, 62%, 43%);
    --yellow: hsl(71, 73%, 54%);
    --grey: hsl(204, 43%, 93%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* flexbox box model */
}

body #container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--grey);
    font-family: Karla;
    font-style: normal;
    font-weight: 400;
}

.flexcontainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 250px;
    width: 600px;
}

.container--box1 {
    flex: 1 0 100%;
    background-color: var(--white);
    color: hsl(200, 4%, 61%);
    padding: 30px;
}

.container--box2 {
    flex: 1 0 300px;
    background-color: var(--cyan);
    padding: 30px;
    color: var(--white);
}

.container--box3 {
    flex: 1 0 300px;
    background-color: var(--cyan);
    opacity: 0.8;
    padding: 30px;
    color: var(--white);
}

h2 {
    color: var(--cyan);
}

.h3--yellow {
    color: var(--yellow);
}

span {
    font-size: 32px;
}

button {
    background-color: var(--yellow);
    border: none;
    color: var(--white);
    width: 100px;
    padding: 10px;
    border-radius: 10px;
}

button:hover {
    color: var(--cyan);
}

li {
    list-style-type: none;
}